################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/demoApi/.vs/demoApi/v17
/demoApi/obj/Debug/net8.0
/demoApi/obj
