################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/demoApi/.vs/demoApi/v17
/demoApi/obj/Debug/net8.0
/demoApi/obj
/demoApi/.vs/demoApi/DesignTimeBuild
/demoApi/.vs/demoApi/FileContentIndex
/demoApi/.vs/ProjectEvaluation/demoapi.projects.v9.bin
/demoApi/.vs/ProjectEvaluation/demoapi.metadata.v9.bin
/demoApi/bin/Debug/net8.0
/lth.bussines/bin/Debug/net8.0
/lth.bussines/obj
/demoApi/.vs/ProjectEvaluation/demoapi.metadata.v9.bin
/demoApi/.vs/ProjectEvaluation/demoapi.projects.v9.bin
/demoApi/.vs/ProjectEvaluation/demoapi.metadata.v9.bin
/demoApi/.vs/ProjectEvaluation/demoapi.projects.v9.bin
